{{ >partials/header }}

<h2>Qual ano você nasceu?</h2>
<form method="GET">
   <input type="number" name="ano" placeholder="Digite o ano do seu nascimento" />
   <input type="submit" value="Enviar" /> 
</form> <br />

{{#mostrarIdade}}
   Você tem {{ idade }} anos
{{/mostrarIdade}}

{{ >partials/footer }}
