body {
   margin: 0;
}

ul, li {
   margin: 0;
   padding: 0;
   list-style: none;
}

.page {
   height: 100vh;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

#loginPage {
   display: flex;
   /* background-color: #FFF; */
   background-color: #202225;
}

#loginNameInput {
   border: 1px solid #000;
   background-color: #CCC;
   font-size: 18px;
   padding: 10px;
   border-radius: 5px;
   outline: 0;
   width: 100%;
   max-width: 400px;
}

#chatPage {
   display: none;
   background-color: #202225;

}

.chatArea {
   flex: 1;
   width: 100%;
   display: flex;
   /* background-color: #CCC; */
}

.chatList {
   flex: 1;
   /* background-color: #FFF; */
   background-color: #202225;
   overflow-y: scroll;
   max-height: calc(100vh - 40px); /* 40px => Campo de Texto */
}

.chatList li {
   padding: 5px;
   font-size: 15px;
}

.chatList li.m-status {
   color: #333;
   font-style: italic;
   font-weight: bold;
}

.chatList li.m-txt span {
   font-weight: bold;
   color: #00F;
}

.chatList li span.me {
   color: #F00;
}

.userList {
   width: 200px;
   background-color: #CCC;
   overflow-y: scroll;
   max-height: calc(100vh - 40px); /* 40px => Campo de Texto */
}

.userList li {
   padding: 5px;
   font-size: 15px;
}

.chatInput {
   width: 100%;
   display: flex;
}

#chatTextInput {
   flex: 1;
   height: 40px;
   padding: 0 10px;
   font-size: 15px;
   background-color: #C1C7E0;
   outline: 0;
   border: 0;
}